.counterWrap {
  display: flex;
  justify-content: center;
  align-items: center;

}

.block {
  margin-right: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 20%;
  height: 30vh;
  font-size: 25px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 10px;
  background: antiquewhite;
  &:last-child {
    margin-right: 15px;
  }
}

.row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputTitle {
  width: 140px;
  margin-right: 15px;
}

.input {
  max-width: 50px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #5454f1;
  border-radius: 8px;
}


.errorField {
  background-color: red;
}

.colorRed {
  color: red;
}

.errorMessage {
  color: red;
}

.btn {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.incBtn {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  appearance: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(68, 255, 0);


}

.resetBtn {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  appearance: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

}

.disabledBtn {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  appearance: none;
  background-color: #797a79;
  color: #aeadad;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(160, 155, 155, 0.5);
}

.settingsBtn {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  appearance: none;
  background-color: #d45115;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(203, 120, 32);
}