.list {
  position: relative;
}

.listItem {
  padding: 10px;
  &:nth-child(odd) {
    background: rgba(114, 141, 217, .3);
  }
}

.noTasksMessage {
  position: absolute;
  top: 15px;
  left: 22px;
  font-weight: 500;
  font-style: italic;
  color: #677067;
}

.todoListWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.todoList {
  position: relative;
  margin-right: 50px;

}

.title {
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 0.2px;
  word-spacing: -0.2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.error {
  position: absolute;
  top: 32px;
  left: 10px;
  font-style: italic;
  font-weight: 300;
  color: red;
}

.mainInput {
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 17px;
  padding: 9px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: -6px 7px 14px 0px rgba(42, 42, 42, .76);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
  font-weight: normal;
  font-family: cursive;

  &:focus {
    outline: none;

  }
}

.validMainInput {
  border-color: #66605d;

}

.notValidMainInput {
  border-color: red;

}

.addBtn {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: #77d42a linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #306108;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;

  &:hover {
    background: #5cb811 linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  }

  &:active {
    position: relative;
    top: 1px;
  }

}

.btnsWrap {
  margin-bottom: 30px;

  * {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.allFilterBtn {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: #79bbff linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;

  &:hover {
    background: #378de5 linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.activeFilterBtn {
  box-shadow: 3px 4px 0px 0px #de2e2e;
  background: #e30731 linear-gradient(to bottom, #c14b55 5%, #e01313 100%);
  border-radius: 5px;
  border: 1px solid #cb116a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #662727;

  &:hover {
    background: #bf2a2a linear-gradient(to bottom, #bf2a2a 5%, #c74444 100%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.completedFilterBtn {
  box-shadow: 3px 4px 0px 0px #306d21;
  background: #66ba57 linear-gradient(to bottom, #2cbf23 5%, #117216 100%);
  border-radius: 5px;
  border: 1px solid #30d214;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #6ccc52;

  &:hover {
    background: #4fcb1e linear-gradient(to bottom, #329b17 5%, #378825 100%);

  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.deleteBtn {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: #fe1a00 linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;

  &:hover {
    background: #ce0100 linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.deleteBtnBig {
  margin-left: 10px;
  padding: 6px 10px;
}

.deleteBtnSmall {
  padding: 3px 5px;
}

.checkboxWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    width: 250px;
  }
}

.checkbox[type=checkbox] {
  height: 0;
  width: 0;
  dislay: none;
}

.label {
  margin-left: 5px;
  margin-right: 15px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #dd1b1b;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

.label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 17px;
  transition: 0.3s;
}

.checkbox:checked + .label {
  background: #bada55;
}

.checkbox:checked + .label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.label:active:after {
  width: 130px;
}

